.layout {
  text-align: center;
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding-bottom: 15px;
}
li {
  list-style-type: none;
}
:host {
  --sds-c-card-color-background: rgb(243, 243, 243);
}
div {
  cursor: pointer;
}
.row-no-bike {
  font-family: "Trebuchet MS", sans-serif;
  font-size: medium;
  text-align: center;
}
.layout-image {
  text-align: center;
}
.image {
  width: 40%;
}
.image-no-bike {
  width: 40%;
}
.footer2{
  margin: 10px 10px 10px 20px;
}
.footer3{
  margin: 3px 10px 10px 0px;
}
.arrow{
  padding-left: 5px;
}